filebeat.modules:
- module: nginx
  access:
    enabled: true
    var.paths: ["/var/log/nginx/access.log"]
  error:
    enabled: true
    var.paths: ["/var/log/nginx/error.log"]

output.elasticsearch:
  hosts: ["http://{{ elasticsearch_host }}:{{ elasticsearch_port }}"]

setup.kibana:
  host: "http://{{ elasticsearch_host }}:5601"   # можно указать IP Kibana, но не обязательно

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat