server {
    listen 80;
    server_name {{ web_domain }};

    root /usr/share/zabbix;

    index index.php;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ ^/api_jsonrpc.php {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /(conf|include|local) {
        deny all;
        return 404;
    }
}